:root {
    --color-rosa-claro: #FADDE1; 
    --otro-color-rosa : #ffe8f0;
    --color-rosa-medio: #F8C3CD; 
    --color-cafe-claro: #D4B2A0;
    --color-cafe-oscuro: #8B4513; 
    --color-cafe-muy-oscuro: #5A2D0A;
    --otro-color-cafe: #7e4753;
}

body {
    background-color: var(--color-rosa-claro);
    color: var(--color-cafe-muy-oscuro); 
}

.mi-navbar {
    background-color: var(--color-rosa-medio); 
    border-bottom: 2px solid var(--color-cafe-claro);
}


.mi-nav-link {
    color: var(--color-cafe-oscuro) !important; 
    transition: all 0.3s ease;
}

.mi-nav-link:hover {
    color: var(--color-cafe-muy-oscuro) !important; 
    background-color: var(--color-cafe-claro); 
    border-radius: 5px;
}

.btn-primary {
    background-color: var(--color-cafe-oscuro); 
    border-color: var(--color-cafe-oscuro);
    font-family: "Poiret One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.btn-primary:hover {
    background-color: var(--color-cafe-muy-oscuro); 
    border-color: var(--color-cafe-muy-oscuro);
}

.form-label {
    color: var(--color-cafe-muy-oscuro);
    font-weight: bold;
    font-family: "Poiret One", sans-serif;
}

.form-control {
    border-color: var(--color-cafe-claro);
}

.form-control:focus {
    box-shadow: 0 0 0 0.25rem rgba(var(--color-cafe-oscuro), 0.25); 
    border-color: var(--color-cafe-oscuro);
}
.date{
    border-color: var(--otro-color-cafe);
    background-color: var(--color-rosa-medio);
    color: var(--otro-color-cafe);
    font-family: "Poiret One", sans-serif;
}
.card {
    border-color: var(--color-cafe-claro);
    background-color: var(--color-rosa-medio);
    color: var(--color-cafe-muy-oscuro);
    font-family: "Delius", cursive;
}

.bienvenida{
    background-color: var(--otro-color-rosa);
    padding: 30px; 
    border-radius: 15px; 
    box-shadow: 0 4px 10px rgba(90, 45, 10, 0.1);
}

h1{
    font-family: "Delius", cursive;
    font-weight: 400;
    font-style: normal;
}